en.subject.pdf
.DS_Store
credentials.env
secrets/*
*.backup
.vscode/
b_main.js
media/
dummy_file

# Certificates
*.pem
*.crt
*.key

# Python files
myenv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.env

backend/services/Django/static_files/
blockchain/build
web3_share