.tech_container {
	background-color: #1e1e1e; /* Dark gray */
	border: 1px solid #39ff14; /* Green border */
	border-radius: 8px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Green glow */
	color:aliceblue
  }
